# This is a basic workflow to help you get started with Actions

name: Create branch and pull request

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      branch_name:
          required: true
          type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  createBranchAndPullRequest:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Create release branch
        run: git checkout -b ${{ github.event.inputs.branch_name }}
        
      - name: Push release branch
        run: git push origin ${{ github.event.inputs.branch_name }}
        
      - name: Create Pull Request
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const result = await github.rest.pulls.create({
              title: 'Merge ${{ github.event.inputs.branch_name }} into release/v1.0.0',
              owner,
              repo,
              head: 'release/v1.0.0',
              base: '${{ github.event.inputs.branch_name }}',
              body: [
                'This PR is auto-generated by',
                '[actions/github-script](https://github.com/actions/github-script).'
              ].join('\n')
            });
            github.rest.issues.addLabels({
              owner,
              repo,
              issue_number: result.data.number,
              labels: ['feature', 'automated pr']
            });
